<nav class="menu">
  <LinkTo @route="index">
    <h1>SuperRentals</h1>
  </LinkTo>
  <div class="links">
    <LinkTo @route="about">
      <h2>About</h2>
    </LinkTo>
    <LinkTo @route="contact">
      <h2>Contact</h2>
    </LinkTo>
  </div>
</nav>