<GridContainer>
  <Jumbo>
    <div class="bannerTxt">
      <h2>EmberJS HQ</h2>
      <p>
        This is an emberJS project based off of the tutorial <a href="https://guides.emberjs.com/release/tutorial/">here</a>.
      </p>
      <address>
        <p>EmberJS HQ</p>
        <p>
          0000 Ember Avenue<br>
          Boulder, CO 00000
        </p>
        <a href="tel:503.555.1212">+1 (503) 555-1212</a><br>
        <a href="mailto:superrentalsrep@emberjs.com">EmberTechRep@emberjs.com</a>
        <div class="buttonContainer">
          <LinkTo @route="about" class="button">About Us</LinkTo>
        </div>
      </address>
    </div>
  </Jumbo>
</GridContainer>